# WP config files
wp-config.php
local-config.php

# Some of GitHub's recommended ignores
# https://github.com/github/gitignore/blob/master/Wordpress.gitignore
content/uploads/
content/upgrade/*
content/backup-db/*
content/advanced-cache.php
content/wp-cache-config.php
content/cache/*
content/cache/supercache/*
content/w3tc/*
sitemap.xml
sitemap.xml.gz
readme.html
license.txt

# WP Engine's "large/disallowed file types" list
# Consider a CDN for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

# Consider adding some or all of the below to your global .gitignore
# https://help.github.com/articles/ignoring-files
# https://github.com/h5bp/html5-boilerplate/commit/3ce6e98cde37308ce1207ad09970c54a266d0a9a

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.DS_Store?
._*
Thumbs.db
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Espresso
*.esproj
*.espressostorage

# Rubinius
*.rbc

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Databases
*.sql
*.sqlite
